table {
    /* height: 200px; */
    display: inline-block;
    border: 1px solid black;
}

#question {
    font-size: large;
    /* height: 20px; */
    display:inline;
}

#revealed {
    text-align: left;
    display:inline;
}

#answer {
    width: 300px;
}

#messages > td {
    height: 20px;
    width: 100%;
    word-wrap: break-word;
}

#messages {
    height: 300px;
    table-layout: fixed;
    width: 70%;
    overflow-y: scroll;
}

#users {
    height: 300px;
    width: 20%;
    overflow-y: scroll;
}

input {
    display: block;
}

/* tbody tr:nth-child(odd) {
    background-color: lightgrey;
} */